Language: Cpp
BasedOnStyle: Google

AlignAfterOpenBracket: AlwaysBreak
AllowShortCaseLabelsOnASingleLine: true
BinPackArguments: false
BinPackParameters: false
PenaltyBreakAssignment: 60
PenaltyBreakBeforeFirstCallParameter: 0
