## Customized

.vscode/
.DS_STORE
bin/
build/
lib/*
!lib/*.tar.gz
logs/
output/
lexer.cpp
location.hpp
parser.hpp
parser.cpp


## Cpp

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
